body {
    background: #fefefe;
}

.navigation {
    background: #077dac;
    padding: 16px; 
    border-radius: 8px;
}

.navigation__link {
    color: #fefe;
    display: inline-block;
    margin-right: 20px;

}

.main-header {
    color: #089bfd;
}

.about-me--header {
    color: lightcoral;
}

.content-wtf--header {
    color: lightseagreen;
}

.notes {
    border: 1px solid lightsalmon;
    margin-bottom: 20px;
    padding: 8px;
}

.notes--special {
    border: 1px solid red;
}

.notes--header {
    color: #1460AA;
}