body {
    background: #fefefe; 
}

.main-heading {
    color: blue;
}

h2 {
    color: #1460AA; 
}

.notes-article {
    padding: 16px;
    border: 1px solid #1460AA;
    margin-bottom: 20px;
}

.notes-article__title {
    color: lightcoral;
}

#top {
    background: lightgreen;
}

a {
    color: #e28000;
} 

.navigation {
    background: #e28000; 
    padding: 16px; 
    border-radius: 8px;
}

.navigation__link {
    color: #fff; 
    display: inline-block;
    margin-right: 20px;
}

.navigation__link--homepage {
    color: #8cd0eb;
}